<% wrap_layout :layout do %>
  <div id="blog-wrapper">
    <div class="container">
      <h1 class="top-of-post"><a href="/blog">KMCG</a></h1>
      <article id="individual-post">
        <h1><%= current_article.title %></h1>
        <p class="date"><%= current_article.date.strftime "%A, %B %-d, %Y A.D." %></p>
        <div id="post-body">
          <%= yield %>
          <p class="article-tags">This article was tagged with <%= current_page.tags.collect{ |t| link_to(t, "/tags/#{t.gsub(/\W/, '-').downcase}.html") }.to_sentence %>. If you have any comments or questions, let Kevin know <a href="http://twitter.com/run_kmc">@run_kmc.</a></p>
        </div>
      </article>
    </div>
  </div>
      <footer>
        <div class="container">
          <section id="codelinks">
            <h1>Code</h1>
            <ul>
              <li><a href="https://github.com/runkmc">Github</a></li>
              <li><a href="https://cocoapods.org/owners/9401">Cocoapods</a></li>
              <li><a href="https://rubygems.org/profiles/runkmc">Rubygems</a></li>
            </ul>
          </section>
          <section id="Social">
            <h1>Social</h1>
            <ul>
              <li><a href="https://twitter.com/run_kmc">Twitter</a></li>
              <li><a href="https://www.flickr.com/photos/mcgladdery/">Flickr</a></li>
              <li><a href="https://soundcloud.com/run_kmc">Soundcloud</a></li>
            </ul>
          </section>
          <section id="other-links">
            <h1>Other</h1>
            <ul>
              <li><a href="/blog">Blog</a></li>
              <li><a href="http://appstore.com/kevinmcgladdery">AppStore</a></li>
              <li><a href="http://linkedin.com/in/kevinmcgladdery">LinkedIn</a></li>
              <li><a href="http://contrapunctus.io">Contrapunctus</a></li>
              <li><a href="http://kevinmcgladdery.com">Choral Music</a></li>
            </ul>
          </section>
          <section id="tags">
            <h1>Tags</h1>
            <ul>
              <% top_tags = ["the young person's guide to vim", "programming", "swift", "clojure", "the island of knights and knaves"] %>
              <% tags_filter = Proc.new { |key, value| top_tags.include? key} %>

              <% my_tags = blog.tags.keep_if &tags_filter %>
              <% my_tags.each do |tag, articles| %>
                <li><%= link_to tag, tag_path(tag) %> - (<%= articles.size %>)</a></li>
              <% end %>
              <% rest_of_the_tags = blog.tags.delete_if &tags_filter %>
              <% rest_of_the_tags.each do |tag, articles| %>
                <li><%= link_to tag, tag_path(tag) %> - (<%= articles.size %>)</a></li>
              <% end %>
            </ul>
          </section>
        </div>
      </footer>
<% end %>
